/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
/*Level 1 requirement: The use of external CSS (separate file) to define styles for titles, divisions, and your signature
at the bottom of the site.*/

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav button{
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background:none;
  border:none;
  margin:0;
  padding: 6px 8px 6px 16px;
  cursor: pointer;
}


.sidenav button:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px ;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Product Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition: .3s ease;
}

/*Colums */

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/**/
* {
  box-sizing: border-box;
}
.color-box{
  max-width: fit-content;
  display: inline-block;
  background-color: black;

}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  

}

.header h1 {
  font-size: 50px;
  display: inline;

}


/* Style the tab */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: bottom;
}

/* Style the buttons that are used to open the tab content */
.tab h5{
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab select:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab select.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: right;
  background: #ddd;
  margin-top: 20px;
}

