html {
  background-color: #8f001b  ;
}
body {
    width: 70%;
}

.yellow-square {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
	text-align: center;
	margin: 0;
	color: #000000; 

}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  align: center;

}
form {

}

p {
  color #000000;
  text-align: center;

}

table {
	border: 1px solid black;
  background-color: #f1f1c1;
  text-align: center;

}

/* Defining styling for a specific element type - each question */
.questions {
  width: 100%;
  padding: 20px;
  margin: 20px;
  
}
.comment {
  width: 33%;
  padding: 50px;
  margin: 50px;
  margin-top: 0px;
  padding-top: 0px;
  
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffff66;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.likert li {
  float: left;
  list-style-type: none;
  align-self: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: white;
  font-style: italic;
  font-size: 75%;
}